@keyframes titleDrop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

img {
    max-width: 100%;
}

pre {
    overflow: scroll;
}

.spinner {
    /*! display: inline-block; */
    width: 8em;
    height: 8em;
    margin: 0 auto;
}

.spinner:after {
    content: " ";
    display: block;
    width: 4em;
    height: 4em;
    margin: 2em;
    border-radius: 50%;
    border-bottom: 0.25em solid #000;
    animation: spin .2s linear infinite;
}

.commentsLoadingSpinner {
    width: 3em;
    height: 3em;
}


.commentsLoadingSpinner:after {
    width: 2em;
    height: 2em;
    margin: 0.5em;
}

#articleLoader {
    display: flex;
    flex-direction: column;
}

#articleLoader > * {
    
}

/* If the browser is modern and has JS disabled,
this is gonna show the JS requirement notice after
a while (so no notice is shown when the browser
support JS and CSS3, since this element is hidden
from JS before the CSS3 animation shows it)*/
@keyframes fadeInAfterHalf {
  0%, 90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#noJavaScriptNotice {
    animation: fadeInAfterHalf 3s linear 1;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    font-size: 1em;
    font-family: 'Exo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
        font-family: 'Encode Sans Condensed', sans-serif;
}

header {
    display: block;
    position: fixed;
    top: -6em;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0.1em 1em rgba(0, 0, 0, 0.2);
    animation: titleDrop 1s cubic-bezier(0.4, 1.8, 0.5, 1) 0s;
    z-index: 1000;
    padding-top: 6em;
    width: 100%;
}

.headerContent {
    /*! margin-top: 4em; */
    /*! margin-left: 10%; */
    margin: 2em auto;
    text-transform: uppercase;
    display: flex;
    max-width: 1024px;
    /*! flex-wrap: wrap; */
}

.headerLogo {
    height: 3em;
    width: auto;
}

@media screen and (max-width: 1088px) {
    .headerLogo {
        margin-left: 2em;
    }
}

.headerText {
    letter-spacing: 0.25em;
    margin: 0 auto;
    color: #fff;
    text-shadow: 
        0 0.05em 0 #ccc,
        0 0.10em 0 #aaa,
        0 0.15em 0 #888,
        0 0.2em 0.2em rgba(0, 0, 0, 1),
        0 0.2em 0.6em rgba(0, 0, 0, 1);
}

.headerNav {
    display: flex;
    margin-left: auto;
}


a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid;
}

.headerNav > a {
    align-self:center;
    padding: 0.2em 0.5em;
    font-weight: normal;
    border: none;
    border-right: 0.1em solid;
}

.headerNav > a:last-child {
    border: none;
}

footer {}

@keyframes articlePop {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

article {
        box-shadow: 
            0 1em 0.9em #eee, 
            0 1.5em 0.9em #888, 
            0 2em 0.0em #444, 
            0 0em 0.2em rgba(0, 0, 0, 0.2),
            0 2.2em 0.8em #000, 
            0 2.1em 0.4em #000, 
            0 2.0em 0.2em #000;
        margin: 6em auto !important;
        animation: articlePop 1s cubic-bezier(0.4, 1.8, 0.5, 1) 0s;
}

.articleSection {
    
}

.articleClipper {
    overflow: hidden;
}

#contentWrapper {
    margin: 10em auto;
    max-width: 1024px;
    /*! margin: auto; */
}

.articleHeader {
    padding: 2em 2em 1em 2em;
    box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.1);
}

.articleHeaderBottomLine {
    display: flex;
    color: #fff;
    text-shadow:
        0 0.05em 0.0em #eee,
        0 0.1em 0.1em #000,
        0 0.1em 0.2em #000;
    flex-wrap: wrap;
}

.articleHeaderTopLine{
    display: flex;
    flex-wrap: wrap;
}

.articleHeaderTopLine > * {
    margin-top: 0;
}

.articleTitle {
    flex: 1;
/*     color: #fff;
        text-shadow: 
        0 0.05em 0 #ccc,
        0 0.10em 0 #aaa,
        0 0.15em 0 #888,
        0 0.2em 0.2em rgba(0, 0, 0, 1),
        0 0.2em 0.6em rgba(0, 0, 0, 1); */
}

.articleAuthor{
    flex: 1;
    text-transform: uppercase;
}

.articleDateTime{
    
}


.articleContent {
    padding: 2em;
}


.articleExpander {
    display: flex;
    flex-direction: column;
}

.articleExpander:before {
    /*! display: inline; */
    content: " ";
    background: linear-gradient(rgba(0,0,0,0), #fff);
    margin-top: -3em;
    height: 3em
}

.articleExpander > input {
    margin: auto 0;
}


.commentsWrapper {
  padding: 1em;
}

.commentsWrapper > div {
  box-shadow: inset 0 0.2em 0.6em rgba(0,0,0,0.5);
  padding: 1em;
    margin-bottom: 2em;
}

.commentsWrapper > div:last-child {
  margin-bottom: 0;
}

.commentHeader {
  box-shadow: 0 0 0.6em rgba(0,0,0,0.5);
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
    flex-wrap: wrap;
}

.commenterName {
  flex: 1;
  font-weight: bold;
}

.commentBody {
  padding-left: 1em;
    
}

.headerNav {
    border: none;
}


/* Bouncing Arrow */

.expandCollapseButton {
    /*! opacity: 0; */
    
        /*! left: 50%; */
        /*! top: 50%; */
    /*! transform-origin: 50% 50%; */
    width: 100%;
    height: 4em;
    margin: -2em auto;
    /*! border: 1px solid; */
    cursor: pointer;
}

.arrow {
    /*! opacity: 0; */
    position: absolute;
        left: 50%;
        /*! top: 50%; */
    /*! transform-origin: 50% 50%; */
    width: 2em;
    height: 2em;
    margin: -1em;
    /*! margin: auto; */
    
      border: solid black;
  border-width: 0 0.2em 0.2em 0;
  /*! display: inline-block; */
  /*! padding: 1em 1em; */
    animation: arrowDownBounce 1s ease infinite;
}

.arrowUp {
    animation: arrowUpBounce 1s ease infinite !important;
}

@keyframes arrowUpBounce {
    0%, 20% {
        opacity: 0;
        transform: translateY(200%) rotate(-135deg);
    }
    50% {
        opacity: 1;
        transform: translateY(100%) rotate(-135deg);
    }
    100% {
        opacity: 0;
        transform: translateY(0%) rotate(-135deg);
    }
}

@keyframes arrowDownBounce {
    0%, 20% {
        opacity: 0;
        transform: translateY(-300%) rotate(45deg);
    }
    80% {
        opacity: 1;
        transform: translateY(100%) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translateY(60%) rotate(45deg);
    }
}







@media screen and (max-width: 768px) {
    .headerText {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .headerNav {
        font-size: 0.8em;
    }
    .headerLogo {
        height: 2em;
    }
    .headerContent {
        flex-wrap: wrap;
    }
    
    .commentsWrapper {
        padding: 1em 0;
    }

    .commentsWrapper > div {
        padding: 0.5em;
    }

    .commentHeader {
        padding: 0.5em;
        margin-bottom: 0.5em;
    }

    .commentBody {
        padding-left: 0;
    }
}






.username:after {
    content: "Insert your user name";
}

@media screen and (max-width: 1024px) {
    .username:before {
        content: "User name";
    }
}

@media screen and (max-width: 480px) {
    .username:before {
        content: "";
    }
}