/* Hand coded by Alan (https://github.com/Alan-FGR) */

/* * { background: rgba(0, 0, 0, 0.05); } */

/* html {
    animation: backgroundAnim 60s linear infinite;
} */

a {
    color: black;
    transition: 0.25s;
}

a:hover {
    text-shadow: 0 0.1em 0.1em white, 0 0.2em 0.5em black;
}

header {
    padding: 2em;
    display: flex;
}

header:before {
    content: "";
    width: 3em;
    height: 2em;
    background: linear-gradient(#0057b7 50%, #ffd700 50%);
    position: absolute;
    margin-left: 8em;
    margin-top: 8.5em;
    border: 0.1em solid #000;
    z-index: 9000;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.4);
    animation: flagAnim 0.4s ease-in-out infinite alternate;
}

.mainLogo {
    border-radius: 50%;
    background-color: white;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6em;
    width: 10em;
    height: 10em;
    animation: spin 5s linear infinite reverse;
}

.mainLogoOutline {
    background: radial-gradient(circle at 2.5% 50%, #fff 3%, #0af 10%, #000 50%);
    width: 10em;
    height: 10em;
    padding: 0.5em;
    border-radius: 50%;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);
    animation: spin 5s linear infinite;
}

.headerData {
    display: flex;
    flex: 1;
    justify-content: right;
    animation: revealLater 1.5s ease;
}

.headerDataColumn>p {
    margin: 0;
    text-align: right;
}

.headerIcons {
    display: flex;
    flex: 1;
    justify-content: right;
    margin-top: 1em;
}

.headerIcons>a {
    animation: revealLater 2.5s ease;
}

.headerIcons>a:nth-child(2) {
    animation: revealLater 3s ease;
}

.headerIcons>a:nth-child(3) {
    animation: revealLater 3.5s ease;
}

.headerIcons>*>img {
    height: auto;
    width: 2.5em;
    margin-left: 1em;
    transition: 0.1s;
}

.headerIcons>*>img:hover {
    filter: drop-shadow(-0.1em 0.3em 0.05em rgba(0, 0, 0, 0.3));
}

.nameInHeader {
    font-size: 2.5em;
    text-shadow:
        0.04em 0.04em 0 white,
        -0.04em 0.04em 0 white,
        -0.04em -0.04em 0 white,
        0.04em -0.04em 0 white,
        0 0.1em 0.2em black;
}

.positionInHeader {
    font-size: 1.5em;
}

#hiddenEmailTextInput {
    display: none;
}

body {
    overflow-y: scroll;
    margin: 0;
    font-size: 1em;
    font-family: 'Exo', sans-serif;
}

h1, h2, h3, h4, h5, h6, .headerFont {
    font-family: 'Encode Sans Condensed', sans-serif;
}

#wrapper {
    max-width: 1280px;
    margin: auto;
    background: white;
    box-shadow: 0.5em 0 2em rgba(0, 0, 0, 0.2);
    padding: 0 2em;
    margin-bottom: 2em;
    animation: reveal 1s ease;
}

.template {
    display: none;
}

main {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}

.articleComments {
    border-top: 0.2em solid black;
    margin-top: 4em;
}

.articleCommentsHeader {
    margin: -0.85em 0 0 0;
    font-size: 1.5em;
    height: 1.5em;
    text-align: center;
}

.articleCommentsHeader>span {
    background-color: white;
    padding: 0 1em;
}

.articleCommentsList {
    padding: 0;
    margin: 0;
}

.comment {
    display: flex;
    max-width: 54em;
    margin: 1em auto;
    list-style: none;
}

.commentHeader {
    width: 12em;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 1em 1em 0;
}

.commentHeader>img {
    margin-left: 7em;
}

.commentHeader>span {
    font-size: 1.4em;
    font-weight: bold;
}

.commentHeader>time {
    font-size: 0.8em;
}

.commentBody {
    flex: 1;
    padding: 0 1em 1em 1em;
    margin: 0;
    border-bottom: 0.2em solid black;
}

.leaveCommentLink {
    flex: 1;
    text-align: right;
    padding: 0.5em;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
}

.selected {
    background-color: white;
    box-shadow: 0.5em 1em 1em rgba(0, 0, 0, 0.2);
}

section {
    /* padding: 0.5em; */

    cursor: pointer;

    margin: 0;

    transform: scale(0.8);


    transition: 0.5s, box-shadow 2s 0.1s;

    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);

    animation: slideShine 5s linear infinite;

    background: radial-gradient(50% 50%, #fff 2%, #0af 10%, #000 50%) 100% 100% / 200% 200%;

}

section>*>h2 {
    margin: 0;
}

.articleCard {
    background: white;
    padding: 1em;
    margin: 0.5em;
}

.articleCardHeader {
    height: 4em;
    line-height: 1.33em;
    overflow-x: auto;
    overflow-y: hidden;
}

.articleCardBottomLine {
    display: flex;
}

.articleCardBottomLine>span {
    flex: 1;
    text-align: right;
}

.articleCardBottomLine>* {
    overflow: hidden;
    height: 1em;
    line-height: 1em;
}

section.selected {
    transform: scale(1);
    padding-bottom: 0;
    margin-top: 0em;
}

section:after {
    content: "";
    background: white;
    position: absolute;
    right: 0.5em;
    left: 0.5em;
    margin-top: -0.6em;
    height: 3em;
    transform: scaleX(0);
    transition: 0.5s;
}

section.selected:after {
    transform: scale(1);
}

article {
    display: none;
    opacity: 0;
    transition: opacity 0.5s, border 0.5s;
    border: 0.5em solid rgba(0, 0, 0, 1);
    border-width: 0 0.5em;
    grid-column: 1/-1;
    padding: 1em 1.5em;
}

article.selected {
    opacity: 1;
    border-width: 0.5em;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    line-height: 1em;
    animation: reveal 3s ease;
}

.footerHeart {
    color: #f04;
    font-size: 2em;
    margin: 0 0.3em;
    transform: scale(1.1, 0.9);
    text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.1);
    animation: heartBeat 0.5s ease infinite alternate;
}

.tooltip {
    position: relative;
}

.tooltip .tooltipText {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 1em;
    padding: 0.5em 1em;
    z-index: 5000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: scaleY(0) translateX(-43%);
    transition: transform 0.2s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    transform: scaleY(1) translateX(-43%);
}

@keyframes backgroundAnim {
    0% {
        background: hsl(0, 100%, 95%);
    }

    25% {
        background: hsl(90, 100%, 95%);
    }

    50% {
        background: hsl(180, 100%, 95%);
    }

    75% {
        background: hsl(270, 100%, 95%);
    }

    100% {
        background: hsl(360, 100%, 95%);
    }
}

@keyframes flagAnim {
    from {
        transform: rotate(8deg);
    }

    to {
        transform: rotate(-8deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
    }
}

@keyframes revealLater {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    50% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideShine {
    0% {
        background-position: 2% 98%;
    }

    30% {
        background-position: 98% 98%;
    }

    50% {
        background-position: 98% 2%;
    }

    80% {
        background-position: 2% 2%;
    }

    100% {
        background-position: 2% 98%;
    }
}

@keyframes heartBeat {
    to {
        transform: scale(1.7, 1.35);
        text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
    }
}

@media screen and (min-width: 70em) {
    .comment {
        padding-right: 12.5%;
    }
}

@media screen and (max-width: 640px) {
    .commentHeader {
        width: 100%;
    }

    .commentHeader>img {
        margin-left: 0;
        position: absolute;
        height: 4em;
    }

    .commentHeader>span {
        margin-left: 3em;
    }

    .comment {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    body {
        font-size: 0.9em;
    }

    header {
        font-size: 0.7em;
    }

    #wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 0.8em;
    }

    header {
        font-size: 0.6em;
    }

    footer {
        font-size: 0.8em;
    }
}
